<div id="legendButton">
    <a class="waves-effect waves-light btn ">legend</a>
</div>

<div id="legendPanel">
    <div class="legendInfo">
      Area: &nbsp &nbsp {{ctrl.areaMetric}}<br/>
      Height: {{ctrl.heightMetric}}<br/>
      Color: &nbsp {{ctrl.colorMetric}}
    </div>

    <div class="chip" style="position: relative">
        <img id="green" style="position: static">
        <span ng-if="!ctrl.range.flipped">0 to &lt; {{ctrl.range.from}}</span>
        <span ng-if="ctrl.range.flipped">&gt; {{ctrl.range.to}} to Infinite</span>
    </div>

    <br>

    <div class="chip" style="position: relative">
        <img id="yellow" style="position: static">
        &ge; {{ctrl.range.from}} to &le; {{ctrl.range.to}}
    </div>

    <br>

    <div class="chip" style="position: relative">
        <img id="red" style="position: static">
        <span ng-if="!ctrl.range.flipped">&gt; {{ctrl.range.to}} to Infinite</span>
        <span ng-if="ctrl.range.flipped">0 to &lt; {{ctrl.range.from}}</span>
    </div>

    <br>

    <div class="chip" style="position: relative">
        <img id="select" style="position: static">
        selected
    </div>

    <div id="testVilleLegendButton">

        <a class="waves-effect waves-light btn ">extended legend</a>
    </div>


</div>

