<div id="searchButton">


     <fab-directive icon-class="fa fa-search"></fab-directive>

</div>




<div id="searchPanel">


    <div search-directive id="container">


        <input type="search"  list="requirementsandtests" id="searchInput" ng-model="ctrl.input" placeholder="press the alt-key to show more" ng-keyup="ctrl.keyPress($event.keyCode, ctrl.input)" ng-change="ctrl.changingInput()" ng-style="ctrl.myStyle" autocomplete="off" disable-arrows>


    </div>


    <datalist id="requirementsandtests">
        <option ng-repeat="value in ctrl.resultsList | limitTo : ctrl.upperLimit" >{{::value}}</option>
    </datalist>



</div>

